<!DOCTYPE html>
<html>
  <head>
    <title>PDF Links Example</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        text-align: center;
      }

      .pdf-link {
        margin-bottom: 10px;
      }

      .highlight {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{ pdf_file }}</h1>

      <div>
        {% for word in content %} {% if word in positive_words %}
        <a class="highlight">{{ word }}</a>
        {% else %}
        <a>{{ word }}</a>
        {% endif %} {% endfor %}
      </div>

      <div>
        {% for word in positive_words %}
        <a>{{ word }}</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
